body{
    margin:0px;
}
#menu{
    width: 100vw;
    /* height:80vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: calibri;

}

#addPlace{
    width:300px;
    padding :10px;
    background-color: rgb(69, 69, 162);
    margin:30px;
    padding:25px;
    border-radius: 5px;
    color:white;
    text-align: center;
    font-size: x-large;

}
#addServices{
    width:300px;
    padding :10px;
    background-color: rgb(69, 69, 162);
    margin:30px;
    padding:25px;
    border-radius: 5px;
    color:white;
    text-align: center;
    font-size: x-large;

}
#allBookings{
    width:300px;
    padding :10px;
    background-color: rgb(69, 69, 162);
    margin:30px;
    padding:25px;
    border-radius: 5px;
    color:white;
    text-align: center;
    font-size: x-large;


}

#acceptReject{
    width:300px;
    padding :10px;
    background-color: rgb(69, 69, 162);
    margin:30px;
    padding:25px;
    border-radius: 5px;
    color:white;
    text-align: center;
    font-size: x-large;


}


