body{
    height:95vh;
    width:100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;

}
div{
    background-color: rgb(229, 229, 229);
    border:2px solid black;
    padding:20px 20px;
    border-radius: 10%;
}
input{
    margin:10px;
}
form{
    font-family: calibri;
    font-size: xx-large;
    font-weight: 400;
}