<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='css/adminPanel.css')}}" rel="stylesheet">

    <title>Document</title>
</head>

<body align="center">
    <h1>Admin Panel</h1>
    <a href="{{url_for('logout')}}"><button>Logout</button></a>
    <div id="menu">
        <a href="/addPlace">
            <button id="addPlace">Add Places</button>
        </a>
        <a href="/addServices">
            <button id="addServices">Add Servies</button>
        </a>
        <a href="/allBookings">
            <button id="allBookings">Show All Bookings</button>
        </a>
        <a href="/acceptReject">
            <button id="acceptReject">Accept / Reject Bookings</button>
        </a>
    </div>
</body>

</html>