<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body align="center">
    <h2>All Bookings</h2>
    <form method="POST">
        <br>
        {{form.place}} <br><br>
        {{form.date}} <br><br>
        {{form.submit}}
    </form>
    <br><br>

    <table>
        {%if data %}
        <th>Email</th>
        <th>Place</th>
        <th>Address</th>
        <th>Date</th>
        <th>Booking Status</th>
        {% for i in data %}
        <tr>
            <td>{{i.email}}</td>
            <td>{{i.place}}</td>
            <td>{{i.address}}</td>
            <td>{{i.date}}</td>
            <td>{{i.bookingStatus}}</td>
        </tr>
        {% endfor %}
        {% else %}
        <h4>No Record Found</h4>
        {% endif %}



    </table>

    <style>
        td {
            background-color: rgb(219, 219, 219);
            border: 2px solid black;
            margin: 10px;
            padding: 5px;
            width: 100px;
        }

        th {
            background-color: black;
            color: white;
            margin: 10px;
            padding: 5px;
        }
    </style>

</body>

</html>