<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">
    <title>Car Wash</title>
</head>

<body align="center">
    <div>
        <h1>CAR WASH</h1><br><br>
        <a id="Login" class=" navbar-brand" href="/adminlogin">
            <button type="button">Admin Login</button>
        </a><br><br>
        <a id="Login" class=" navbar-brand" href="/login">
            <button type="button"> User Login</button>
        </a><br><br>
        <a id="SignUp" class="navbar-brand" href="/signup">
            <button type="button">Sign Up</button>
        </a>
    </div>

    <style>
        body {
            height: 80vh;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    </style>

</body>

</html>